<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2025-2026 The AviumUI Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.avium.aviumuseful"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />


    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="audio/*" />
        </intent>
    </queries>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubSettingsBase">

        <activity
            android:name=".UsefulSettingsActivity"
            android:exported="true"
            android:label="@string/app_name" >
    
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.order"
                android:value="-350" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@mipmap/icon_stars" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/useful_summary" />

        </activity>

        <receiver
            android:name=".BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.UsefulService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            tools:ignore="Instantiatable">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="SUBTYPE_SYSTEM_EXEMPTED" />
        </service>

        <service
            android:name=".service.screen.ScreenUsefulService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name=".service.torch.TorchService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name=".service.music.MusicSuggestionService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name=".service.url.ClipboardService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <service
            android:name=".service.delivery.DeliveryService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <receiver
            android:name=".service.sms.VerificationCodeReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="org.avium.action.VERIFICATION_CODE_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.sms.VerificationCodeService"
            android:foregroundServiceType="specialUse"
            android:enabled="true"
            android:exported="false"
            tools:ignore="Instantiatable" />
    </application>

</manifest>
